@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}



.header {
    display: flex;
    list-style: none;
    justify-content: end;
    border-bottom: 1px solid;
}

.header a {
    position: relative;
    padding: 1% 1.5% 0;
    margin-left: 30px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}
.header a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: .6em;
    width: 100%;
    height: 3px;
    background: rgb(227, 54, 54);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.header a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.left {
    flex: 1;
    padding-left: 2%;
}

.nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav input {
    flex: 1;
    min-width: 50px;
    height: 35px;
}

.nav .item_left {
    font-family: 'Smokum', cursive;
    font-weight: 800;
    font-size: 35px;
    padding: 0.6%;
}

.right_item_one {
    border: 1px solid rgb(168, 166, 166);
    font-size: large;
    padding: 1%;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.right_item_one:hover {
    color: rgb(11, 11, 11);
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(248, 158, 102);
}

.right_item {
    padding: 1%;
    font-size: large;
    text-decoration: none;
    color: black;
    transition: 0.5s;

}

.right_item:hover {
    color: rgb(11, 11, 11);
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(248, 158, 102);
}