@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,300&family=Josefin+Sans&family=Libre+Baskerville&family=Lobster&family=Oswald&family=PT+Serif&family=Poppins:wght@100;300&family=Teko:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.backimg {
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/218/592/non_2x/background-wallpaper-with-polygons-in-gradient-colors-vector.jpg' );
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid rgb(233, 120, 120);
    border-radius: 6px;
    position: relative;
    height: 400px;
    width: 350px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logindata{
    width: 100%;
    padding: 40px;
}
.logindata h2{
    font-size: 2em;
    text-align: center;
}
.input_box{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(28, 27, 27);
    margin: 20px 0;
}
/* .input_box input:invalid{
     border: 2px solid red;
     animation: shake 0.2s 2;
} */
.input_box label{
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translatey(-50%);
    font-size: 1em;
    color: rgb(36, 35, 35);
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}
.input_box input:focus~label,
.input_box input:valid~label{
    top: -5px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 1em;
    font-weight: 600;
}
.input_box .icons{
    position: absolute;
    right: 8px ;
    line-height: 40px;
    font-size: 1em;
}

.registration_box {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin-top: 3rem;
    font: 1em sans-serif;
}
.registration_box input{
    margin-right: 5px;
}
.registration_box a{
    text-decoration: none;
    color: black;
}
.registration_box a:hover{
    color: rgb(236, 26, 26);
    border-bottom: 2px ridge rgb(10, 9, 9);
}

.btn {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    font-weight: 400;
    margin-top: 2.5em;
}
.registration_link {
    font-weight: 400;
    font: 1em sans-serif;
    margin-top: 1.7rem;
}
.registration_link a{
    margin-left: 2.5em;
    text-decoration: none;
    color: black;
}
.registration_link a:hover{
    color: rgb(236, 26, 26);
    border-bottom: 2px ridge rgb(10, 9, 9);
}


/* @keyframes shake{
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
} */